<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Range Slider</title>
  <link href="https://unpkg.com/nes.css@2.1.0/css/nes.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
<script src="https://rawgit.com/WeiChiaChang/Easter-egg/master/easter-eggs-collection.js"></script>
<link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
    <section class="container nes-container with-title">
      <h2 class="title">Password Generator</h2>
      <section class="nes-container with-title pwd-length-setting-wrapper">
        <h3 class="title">Password Setting</h3>
        <div id="balloons" class="item">
          <section class="message-list">
            <section class="message -left">
              <i class="nes-bcrikko"></i>
              <!-- Balloon -->
              <div class="nes-balloon from-left">
                <p>
                  Your Password Length
                  <input
                    type="number"
                    min="6"
                    :max="config.maxLength"
                    class="nes-input pwd_length_field"
                    v-model="config.minLength"
                  >
                </p>
              </div>
            </section>
            <section class="message -right">
              <!-- Balloon -->
              <div class="nes-balloon from-right">
                <p :class="`pwd-strength-${pwdStrength.text}`">{{formatter(pwdStrength.text)}}</p>
              </div>
              <i class="nes-octocat animate"></i>
            </section>
          </section>
        </div>
      </section>
      <section class="character-container nes-container with-title">
        <h2 class="title">Character Set</h2>
        <div class="char-length-wrapper">
          <label>Symbols:</label>
          <div class="range-slider_wrapper">
            <span class="slider-bar" :style="{ width: symbolsProgress + '%' }"></span>
            <input
              type="range"
              min="0"
              :max="config.maxSymbols"
              class="range-slider"
              v-model="config.minSymbols"
            >
          </div>
          <span class="number-tip">{{ config.minSymbols }}</span>
        </div>
        <div class="char-length-wrapper">
          <label>Numbers:</label>
          <div class="range-slider_wrapper">
            <span class="slider-bar" :style="{ width: numbersProgress + '%' }"></span>
            <input
              type="range"
              min="0"
              :max="config.maxNumbers"
              class="range-slider"
              v-model="config.minNumbers"
            >
          </div>
          <span class="number-tip">{{ config.minNumbers }}</span>
        </div>
      </section>
      <section class="generate-pwd-container nes-container with-title">
        <h2 class="title">Generated Password</h2>
        <p id="pwd-input" class="nes-input">{{ password }}</p>
        <div class="btn-wrapper">
          <button type="button" class="nes-btn is-primary" @click="generatePwd">Generate Password</button>
          <button type="button" class="nes-btn is-success" @click="clipboardCopied">
            <span v-if="isCopied">Copied!</span>
            <span v-else>Copy</span>
          </button>
        </div>
      </section>
    </section>
  </div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
