@import url('https://fonts.googleapis.com/css?family=Mallanna|Modak&display=swap');


/*
font-family: 'Modak', cursive;
font-family: 'Mallanna', sans-serif;
*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


html, body {
/*    background-color: white ;*/
    background: url("./images/1.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    height:100vh;
    transition: all .5s;
    width: 100%;
}

body{
    position:relative;
    width: 100%;
    padding:0;
    margin:0;  
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

h1 {
    width:100%;
    font-family: 'Mallanna', sans-serif;
    font-size: 10vmax;
    line-height: 0;
    text-align: center;
    color: yellow;
	}

button {
    width:10%; 
    height:10%; 
    border: 0;
    background-size: 100%; /* To fill the dimensions of container (button), or */
    padding:2vmax;
    display: block;
    margin: 2%;
    background-color: orange;
    }

img {
    align-items: center; 
    justify-content: center;
    width:20%; 
    text-align: center;  
}

.animate {
    background: red;
    width:auto;
    height: auto;
    animation-name: woah;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in-out;
}

.animate img {
    align-items: center; 
    justify-content: center;
    width:100%; 
    text-align: center; 
    
}

@keyframes woah {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}